### Gold Price Prediction

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [15]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [16]:
df = pd.read_csv('data/gld_price_data.csv')

In [17]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  01/02/08  1447.160034  84.860001  78.470001  15.180  1.471692
1  01/03/08  1447.160034  85.570000  78.370003  15.285  1.474491
2  01/04/08  1411.630005  85.129997  77.309998  15.167  1.475492
3  01/07/08  1416.180054  84.769997  75.500000  15.053  1.468299
4  01/08/08  1390.189941  86.779999  76.059998  15.590  1.557099

In [18]:
df

           Date          SPX         GLD        USO      SLV   EUR/USD
0      01/02/08  1447.160034   84.860001  78.470001  15.1800  1.471692
1      01/03/08  1447.160034   85.570000  78.370003  15.2850  1.474491
2      01/04/08  1411.630005   85.129997  77.309998  15.1670  1.475492
3      01/07/08  1416.180054   84.769997  75.500000  15.0530  1.468299
4      01/08/08  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   05/08/18  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   05/09/18  2697.790039  124.330002  14.370000  15.5300  1.184722
2287   05/10/18  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [19]:
X = df[['SPX','USO','SLV','EUR/USD']]
Y = df['GLD']

#### Split the data into training and testing parts

In [20]:
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size=0.2)

In [21]:
# Scale the data after implementing the Neural Network
scaler = MinMaxScaler()

In [22]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [23]:
model = Sequential()

In [24]:
# add different layers
model.add(Dense(10, activation='relu', input_dim=4))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='linear'))

In [25]:
model.compile(loss="mean_squared_error", optimizer='Adam')

In [26]:
history = model.fit(X_train_scaled, y_train, epochs=50, validation_split=0.1)

Epoch 1/50
52/52 [==============================] - 2s 10ms/step - loss: 15422.3994 - val_loss: 15816.2021
Epoch 2/50
52/52 [==============================] - 0s 4ms/step - loss: 15306.3984 - val_loss: 15660.0127
Epoch 3/50
52/52 [==============================] - 0s 4ms/step - loss: 15089.7461 - val_loss: 15366.5596
Epoch 4/50
52/52 [==============================] - 0s 5ms/step - loss: 14709.8164 - val_loss: 14877.7314
Epoch 5/50
52/52 [==============================] - 0s 5ms/step - loss: 14117.4111 - val_loss: 14156.0205
Epoch 6/50
52/52 [==============================] - 0s 5ms/step - loss: 13281.3330 - val_loss: 13178.0547
Epoch 7/50
52/52 [==============================] - 0s 5ms/step - loss: 12190.7188 - val_loss: 11944.8994
Epoch 8/50
52/52 [==============================] - 0s 6ms/step - loss: 10865.9736 - val_loss: 10491.3271
Epoch 9/50
52/52 [==============================] - 0s 6ms/step - loss: 9352.6992 - val_loss: 8888.0977
Epoch 10/50
52/52 [==============================] - 0s 7ms/step - loss: 7736.7393 - val_loss: 7224.0898
Epoch 11/50
52/52 [==============================] - 0s 7ms/step - loss: 6120.7690 - val_loss: 5618.5815
Epoch 12/50
52/52 [==============================] - 0s 7ms/step - loss: 4617.0356 - val_loss: 4165.8408
Epoch 13/50
52/52 [==============================] - 0s 6ms/step - loss: 3323.7117 - val_loss: 2978.1094
Epoch 14/50
52/52 [==============================] - 0s 7ms/step - loss: 2310.3708 - val_loss: 2082.3672
Epoch 15/50
52/52 [==============================] - 0s 5ms/step - loss: 1588.1848 - val_loss: 1476.3584
Epoch 16/50
52/52 [==============================] - 0s 7ms/step - loss: 1130.2152 - val_loss: 1108.2483
Epoch 17/50
52/52 [==============================] - 0s 7ms/step - loss: 866.7828 - val_loss: 901.8617
Epoch 18/50
52/52 [==============================] - 0s 6ms/step - loss: 731.5677 - val_loss: 793.2095
Epoch 19/50
52/52 [==============================] - 0s 5ms/step - loss: 664.0902 - val_loss: 737.9840
Epoch 20/50
52/52 [==============================] - 0s 7ms/step - loss: 629.6801 - val_loss: 705.6998
Epoch 21/50
52/52 [==============================] - 0s 7ms/step - loss: 608.9506 - val_loss: 683.6146
Epoch 22/50
52/52 [==============================] - 0s 5ms/step - loss: 593.4024 - val_loss: 666.5920
Epoch 23/50
52/52 [==============================] - 0s 7ms/step - loss: 579.6968 - val_loss: 651.4156
Epoch 24/50
52/52 [==============================] - 0s 6ms/step - loss: 566.4090 - val_loss: 636.6814
Epoch 25/50
52/52 [==============================] - 0s 6ms/step - loss: 553.4675 - val_loss: 622.3958
Epoch 26/50
52/52 [==============================] - 0s 5ms/step - loss: 540.9175 - val_loss: 608.7580
Epoch 27/50
52/52 [==============================] - 0s 5ms/step - loss: 528.2906 - val_loss: 595.3036
Epoch 28/50
52/52 [==============================] - 0s 5ms/step - loss: 516.1696 - val_loss: 582.6213
Epoch 29/50
52/52 [==============================] - 0s 5ms/step - loss: 503.8782 - val_loss: 569.0579
Epoch 30/50
52/52 [==============================] - 0s 5ms/step - loss: 492.4536 - val_loss: 555.9466
Epoch 31/50
52/52 [==============================] - 0s 5ms/step - loss: 480.4776 - val_loss: 543.7843
Epoch 32/50
52/52 [==============================] - 0s 5ms/step - loss: 469.1297 - val_loss: 531.1816
Epoch 33/50
52/52 [==============================] - 0s 5ms/step - loss: 457.8675 - val_loss: 519.3005
Epoch 34/50
52/52 [==============================] - 0s 5ms/step - loss: 447.0442 - val_loss: 507.0667
Epoch 35/50
52/52 [==============================] - 0s 5ms/step - loss: 436.1599 - val_loss: 495.1157
Epoch 36/50
52/52 [==============================] - 0s 5ms/step - loss: 425.7299 - val_loss: 483.8096
Epoch 37/50
52/52 [==============================] - 0s 5ms/step - loss: 415.1926 - val_loss: 472.2299
Epoch 38/50
52/52 [==============================] - 0s 5ms/step - loss: 405.1493 - val_loss: 461.2796
Epoch 39/50
52/52 [==============================] - 0s 6ms/step - loss: 395.3557 - val_loss: 450.7830
Epoch 40/50
52/52 [==============================] - 0s 5ms/step - loss: 385.4486 - val_loss: 439.8548
Epoch 41/50
52/52 [==============================] - 0s 6ms/step - loss: 376.0725 - val_loss: 429.7612
Epoch 42/50
52/52 [==============================] - 0s 7ms/step - loss: 366.7674 - val_loss: 419.7746
Epoch 43/50
52/52 [==============================] - 0s 6ms/step - loss: 357.8267 - val_loss: 409.6684
Epoch 44/50
52/52 [==============================] - 0s 6ms/step - loss: 348.5314 - val_loss: 399.5768
Epoch 45/50
52/52 [==============================] - 0s 6ms/step - loss: 340.0017 - val_loss: 390.1300
Epoch 46/50
52/52 [==============================] - 0s 6ms/step - loss: 331.4982 - val_loss: 380.5595
Epoch 47/50
52/52 [==============================] - 0s 5ms/step - loss: 323.0204 - val_loss: 371.4987
Epoch 48/50
52/52 [==============================] - 0s 6ms/step - loss: 314.7555 - val_loss: 362.9124
Epoch 49/50
52/52 [==============================] - 0s 6ms/step - loss: 306.9058 - val_loss: 353.6703
Epoch 50/50
52/52 [==============================] - 0s 7ms/step - loss: 299.1143 - val_loss: 345.0496

In [27]:
y_pred = model.predict(X_test_scaled)

15/15 [==============================] - 0s 3ms/step

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test,y_pred)

0.5251997053753985